@font-face {
    font-family: Monopoly;
    src: url("./Monopoly.ttf");
}

@font-face {
    font-family: Coolvetica;
    src: url("./coolvetica.otf");
}

:root {
    --player-1-color: #e72b2b;
    --player-2-color: #2be7c5;
    --player-3-color: #b72be7;
    --player-4-color: #31e72b;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#plateau {
    background-color: green;
    display: grid;
    grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
    grid-template-rows: 1.5fr repeat(9, 1fr) 1.5fr;
}

.case {
    background-color: bisque;
    border: 1px black solid;

    display: grid;
}

.bodyCase, .headerCase {
    text-align: center;
    font-size: 0.2em;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-width: 20%;

    grid-column: 1 / 2;
}

.headerCase {
    grid-row: 1 / 2;
}

.bodyCase {
    grid-row: 2 / 3;
}

.nord {
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 1fr;

    rotate: 180deg;
}

.sud {
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 1fr;
}

.station.sud .bodyCase, .station.nord .bodyCase,
.company.sud .bodyCase, .company.nord .bodyCase,
.chance.sud .bodyCase, .chance.nord .bodyCase,
.community.sud .bodyCase, .community.nord .bodyCase,
.tax.sud .bodyCase, .tax.nord .bodyCase {
    grid-row: 1 / span 3;
}

.ouest {
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr;
}

.ouest .headerCase {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.ouest .bodyCase {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    max-height: min-content;
    min-height: fit-content;
    align-self: center;
}

.est {
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
}

.est .bodyCase {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    rotate: 180deg;
    max-height: min-content;
    min-height: fit-content;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1 / 2;
}

.est .bodyCase img {
    max-height: 100%;
    rotate: 90deg
}

.ouest .bodyCase img {
    max-height: 100%;
    rotate: 90deg;
}

.station.ouest .bodyCase, .station.est .bodyCase, 
.company.ouest .bodyCase, .company.est .bodyCase,
.chance.ouest .bodyCase, .chance.est .bodyCase,
.community.ouest .bodyCase, .community.est .bodyCase,
.tax.ouest .bodyCase, .tax.est .bodyCase {
    grid-column: 1 / span 3;
}

.company, .property, .station {
    cursor: pointer;
}

.case[data-owner="0"] {
    background-color: var(--player-1-color);
}
.case[data-owner="1"] {
    background-color: var(--player-2-color);
}
.case[data-owner="2"] {
    background-color: var(--player-3-color);
}
.case[data-owner="3"] {
    background-color: var(--player-4-color);
}



.coin {
    background-color: cadetblue;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    rotate: 0deg;
}

.coin .bodyCase {
    grid-column: 1 / span 3;
}

#logo {
    grid-row: 3 / 7;
    grid-column: 2 / -2;
}

#logo img {
    width: 100%;
}

h2 {
    font-size: 2em;
}

#cartes {
    position: fixed;
    height: 355px;
    width: 220px;
    z-index: 2;

    top: -10px;
    padding: 20px;
}

#cartes img {
    width: 50%;
    margin: 0 auto;
}

#carteProp, #carteStation, #carteCompany {
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;

    height: 355px;
    width: 220px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;

    font-family: "Monopoly"
}

#cartes .text {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#cartes hr {
    margin: 10px;
}


#cartes .head, #fermerCarte{
    margin: 10px;
    border-radius: 10px;
    font-size: 0.7em;
    text-align: center;

    font-family: "Coolvetica"
}

#fermerCarte {
    background: red;
    border: black 1px solid;
    padding: 10px;
    cursor: pointer;
    width: 50%;
}

#cartesBoutons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.player {
    border: solid black 2px;
    border-radius: 10px;
    font-family: monopoly;
}

.player[data-num="0"] {
    grid-area: 3 / 3 / 4 / 6;
    background-color: var(--player-1-color);
}

.player[data-num="1"] {
    grid-area: 3 / 7 / 4 / 10;
    background-color: var(--player-2-color);
}

.player[data-num="2"] {
    grid-area: 9 / 3 / 10 / 6;
    background-color: var(--player-3-color);
}

.player[data-num="3"] {
    grid-area: 9 / 7 / 10 / 10;
    background-color: var(--player-4-color);
}

.player.active {
    border-color: springgreen;
}

.pseudo {
    margin: 10px;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 93%;
}

.balance {
    font-size: 0.9em;
    text-align: right;
    margin-right: 10px;
}




#newGame {
    position: fixed;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
    height: 110%;
    width: 100%;
    top: -10px;
    display: flex;
    flex-direction: column;
}

#newGame h1 {
    margin: 10px;
    text-align: center;
    font-family: monopoly;
}

button, input {
    margin: 10px;
    font-family: monopoly;
    font-size: 2em;
}

.fenetre {
    margin: auto;
    background-color: white;
    display: flex;
    border-radius: 5px;
}

#playerIsDisconnected {
    display: flex;
    flex-direction: column;
}


#plateauPions {
    display: grid;
    grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
    grid-template-rows: 1.5fr repeat(9, 1fr) 1.5fr;

    position: absolute;
    z-index: 1;
}

.casePion {
    grid-row: 2 / 3 ;
    grid-column: 1/2;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ouest .casePion {
    grid-column: 1/2;
    grid-row: 1/2;
}

.est .casePion {
    grid-column: 2/3;
    grid-row: 1/2;
}

.pion, .pionDisplayCard {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.pion[data-num="0"], .pionDisplayCard[data-num="0"] {
    background-color: var(--player-1-color);
    bottom: 0px;
    right: 35px;
}
.pion[data-num="1"], .pionDisplayCard[data-num="1"] {
    background-color: var(--player-2-color);
    bottom: 0px;
    right: 60px;
}
.pion[data-num="2"], .pionDisplayCard[data-num="2"] {
    background-color: var(--player-3-color);
    bottom: 24px;
    right: 35px;
}
.pion[data-num="3"], .pionDisplayCard[data-num="3"] {
    background-color: var(--player-4-color);
    bottom: 24px;
    right: 60px;
}

#rollDices, #endTurn {
    grid-area: 7 / 5 / 8 / 8;
    font-size: 1.5em;
}



#events {
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 0;
    max-width: 25%;
    max-height: 300px;
}

#eventsTransparency {
    height: 300px;
    overflow: hidden;
    position: relative;
}

#eventsTransparency::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}

.event {
    display: flex;
    gap: 10px;

    background-color: gainsboro;
    padding: 20px;
    font-size: 0.7em;
    font-family: monopoly;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 10px;
    transform: translateX(-110%);

    animation: showInfoCard 200ms ease-in-out forwards;
}

.hideEvent {
    animation: hideInfoCard 200ms ease-in-out forwards;
}

@keyframes showInfoCard {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes hideInfoCard {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-110%);
    }
}





.event * {
    margin: auto 0;
}

.pay {
    color: red;
}

.earn {
    color: green;
}